html {
  font-size: 62.5%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* Colors */
  --dark-orange: #F16718;
  --light-orange: #FF9B62;
  --dark-blue: #162542;
  --light-blue: #7B8BAD;
  --gray: #E8EFF2;
  --white: #FFFFFF;

  /* Font Family */
  font-family: 'Barlow', sans-serif;

  /* Font Sizes */
  --font-xlarge: 5.6rem;
  --font-large: 4.8rem;
  --font-medium: 3.2rem;
  --font-small: 2.4rem;
  --font-xsmall: 1.6rem;

  /* Line Heights */
  --line-height-xlarge: 5.6rem;
  --line-height-large: 4.8rem;
  --line-height-medium: 3.6rem;
  --line-height-small: 2.8rem;
  --line-height-xsmall: 2.6rem;
}

/* Utility Classes */

.bold {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.body {
  font-size: var(--font-xsmall);
  color: var(--light-blue);
  line-height: var(--line-height-xsmall);
}

.icon {
  background-color: var(--dark-orange);
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
}

button {
  font-size: var(--font-xsmall);
  line-height: var(--line-height-xsmall);
  border: none;
  width: 17.5rem;
  height: 5.8rem;
  border-radius: 1rem;
  font-weight: 700;

}

.btn-1 {
  color: var(--dark-blue);
}

.btn-2 {
  color: var(--white);
  background-color: var(--dark-orange);
  margin-right: 2rem;
}


.btn-3 {
  color: #7B8BAD;
  background-color: var(--white);
}

.heading-L {
  color: var(--dark-blue);
}

.heading-M {
  font-size: var(--font-medium);
  color: var(--dark-blue);
  line-height: var(--line-height-medium);
}

.heading-S {
  font-size: var(--font-small);
  color: var(--dark-blue);
  line-height: var(--line-height-small);
}

.overlay {
  width: 100%;
  background: var(--dark-orange);
}

.mobile-image,
.tablet-image,
.desktop-image {
  height: 100%;
}

.img2-wrapper {
  position: relative;
  z-index: 2;
}

.img2-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-orange);
  opacity: 0.6;
  z-index: 1;
  border-radius: 0 1.5rem 1.5rem 0;
}

footer {
  padding-top: 4rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.footer-span {
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}





/* Media Queries */

@media screen and (max-width: 767px) {

  .tablet-image,
  .desktop-image {
    display: none;
  }

  /* body{
    max-width: 375px;
    margin: 0 auto;
  } */

  button {
    font-size: var(--font-xsmall);
    line-height: var(--line-height-xsmall);
    border: none;
    width: 15.1rem;
    height: 4.8rem;
    border-radius: 1rem;
  }


  /* Typography */
  .heading-L {
    font-size: var(--font-large);
    line-height: var(--line-height-large);
  }

  /* Layout */
  header {
    margin: 2.5rem 2.5rem 6rem 2.5rem;
  }

  .hero-section_cta {
    margin-inline: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 6rem;
  }

  .image-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(1fr, 19.3rem) 1fr;
    gap: 6rem 2rem;
  }

  .image-section_text {
    grid-column: 1/-1;
    text-align: center;
    margin-inline: 2.5rem;
    padding-bottom: 8rem;
  }

  .heading-M {
    margin-inline: 4rem;
    padding-bottom: 2.5rem;
  }


  .detail {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
    margin-inline: 2.5rem;
  }

  .img1 {
    border-radius: 5% 0 0 5%;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .img2 {
    border-radius: 0 1.5rem 1.5rem 0;
    position: relative;
  }



  .img3 {
    border-radius: 1.5rem;
  }








}

@media screen and (min-width: 768px) and (max-width:1279px){

  .mobile-image,
  .desktop-image {
    display: none;
  }

  .heading-L {
    font-size: var(--font-large);
    line-height: var(--line-height-large);
  }
  
  body{
    max-width: 768px;
    margin: auto;
  }



  header {
    margin: 3rem;
    padding-bottom: 3rem;
  }

  /* Hero Section */
  .hero-section {
    display: grid;
    grid-template-columns: 1fr 47.8rem;
    grid-template-rows: 42.5rem;
    gap: 2rem;
    margin-left: 3rem;
    align-items: center;
  }


  .hero-section_cta {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 3rem;
  }

  .button-wrapper {
    display: flex;
  }

  .img1 {
    border-radius: 5% 0 0 5%;
    grid-column: 2/4;
    transform: translateX(2rem);


  }

  /* Image Section */
  .image-section {
    display: grid;
    grid-template-columns: minmax(21.4rem, 25.5rem) 44.5rem;
    margin-inline: 3rem;
    gap: 6rem 3rem;
    padding-top: 3rem;
  }


  .image-section_text {
    grid-column: 1/3;
    display: flex;
    padding-bottom: 10rem;
  }

  .heading-M {
    padding-right: 8rem;
  }

  .img2,
  .img3 {
    border-radius: 1.5rem;
  }

  .img2-wrapper::before {
    border-radius: 1.5rem;
  }

  /* Details Section */
  .details-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 4rem;
    margin-inline: 4.5rem;
  }




}

@media screen and (min-width:1280px) {

  .mobile-image,
  .tablet-image {
    display: none;
  }
  .desktop-image{
    display: block;
  }

  /* Typography Changes */
  .heading-L{
    font-size: var(--font-xlarge);
    line-height: var(--line-height-xlarge);
  }
  .hero-section_cta .body{
    font-size: 1.8rem;
    line-height: var(--line-height-xsmall);
  }

  /* Layout */

  header{
    margin-inline: 16rem;
    padding-top: 5rem;
    padding-bottom: 8rem;
  }

  body{
    max-width: 1440px;
    margin: 0 auto;
  }
  /* Hero-section */
  .hero-section{
   display: grid;
   margin-inline: 16rem;
   padding-bottom: 3rem;
   grid-template-columns: minmax(auto, 44.5rem) 1fr;
   align-items: center;  
  }

  .hero-section_cta{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }


  
  .img1{
    border-radius: 1.5rem;
    width: 54rem;
    height: 48rem;
    justify-self: end;
  }
  

  /* image-section */
  .image-section{
    margin-inline: 16rem;
    display: grid;
    grid-template-columns: 25.5rem 44.5rem 1fr;
    gap: 2rem;
  } 

 
  .image-section_text {
      grid-column: 3/4;
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-self: center;
      width: 25.5rem;
      gap: 2rem;
  }

  
  .img2,
  .img3 {
    border-radius: 1.5rem;
  }

  .img2-wrapper::before {
    border-radius: 1.5rem;
  }
  /* details-section */
  .details-section{
    display: grid;
    grid-template-columns: repeat(4, minmax(auto,25.5rem));
    grid-template-rows: 1fr;
    gap: 2rem;
    margin-inline: 16rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
  }

 

  .detail{
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }



}