/*
------ 
Global
------ */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
}

body {
  background: white;
  color: #162542;
  -webkit-font-smoothing: antialiased;
}


button {
  cursor: pointer;
}

/* Base Typography & Design */
.btn {
  color: #162542;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-size: 1.6rem;
  line-height: 26px;
  font-weight: 900;
}

.grey {
  background-color: #E8EFF2;
}

.orange {
  background-color: #F16718;
  color: #FFFFFF;
}

.clear {
  color: #7B8BAD;
}

.hero-title {
  font-size: 4.8rem;
  line-height: 48px;
  font-weight: 900;
  margin-bottom: 2rem;
}

.body {
  color: #7B8BAD;
  font-size: 1.6rem;
  text-transform: none;
  line-height: 26px;
}

.hero-body {
  margin-bottom: 2rem;
}

.product-title {
  font-size: 3.2rem;
  line-height: 36px;
}

.feature-title {
  font-size: 2.4rem;
  line-height: 28px;
}

.feature-image {
  background-color: #F16718;
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

footer {
  font-size: 1.6rem;
  text-transform: none;
  text-align: center;
  color: #7B8BAD;

}

.footer-copyright {
  font-weight: 400;


}



/* | Header | */
header {
  display: flex;
  align-items: center;
  margin: 2rem;
  justify-content: space-between;
}

main {
  margin: 2rem 0rem;
}

.cta-container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin: 2rem;
}

.hero {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}

.hero-cta {
  display: flex;
  gap: 2rem;
}

.hero-image {
  object-fit: contain;
  width: 100vw;
  border-radius: 16px;

}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem 2rem;
  margin-top: 2rem;
  margin-bottom: 10rem;

}

.image-one {
  border-radius: 0 20px 20px 0;
  opacity: 0.3;
}

.image-img1 {
  background-color: #F16718;
  border-radius: 0 20px 20px 0;
}


.image-two {
  grid-area: 1/2/1/4;
  margin-right: 24px;
}

.product-content {
  grid-area: 2/1/2/4;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0rem 3rem;
  gap: 2rem;
}


.feature-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.feature-body {
  max-width: 32.7rem;
}

footer {
  margin-bottom: 3rem;
}

@media screen and (min-width:768px) {



  .cta-container {
    flex-direction: row;
    align-items: center;
    margin: 0rem 4rem;
  }

  .hero-image {
    object-fit: cover;
    width: 100%;
    border-radius: 16px;
  }

  .product-container {
    margin-top: 10rem;
    margin-left: 4rem;
    margin-right: 4rem;
    gap: 8rem 3rem;
  }


  .product-content {
    flex-direction: row;
    text-align: left;
    padding: 0;
    align-items: center;

  }

  .product-title {
    margin-right: rem;
  }



  .image-img1 {
    border-radius: 20px;
  }

  .image-one {
    border-radius: 20px;
  }

  .image-two {
    margin: 0;
  }

  .feature-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 4rem;
    margin-right: 4rem;
    column-gap: 4rem;
  }

  .feature {
    text-align: left;
    justify-content: flex-start;
    align-items: unset;
  }

}